<h1>Create Admin</h1>

<form action="/createadmin" method="post">
  <label>Email</label>
  <input type="text" name="email">
  <label>First Name</label>
  <input type="text" name="firstName">
  <label>Last Name</label>
  <input type="text" name="lastName">
  <label>Password</label>
  <input type="password" name="password">
  <input type="submit">
</form>