<% layout('../layout') %>

<form action="/login" method="post">
  <label>Login</label>
  <input type="text" placeholder="Email" id="email" name="email">
  <input type="password" placeholder="Password" id="password" name="password">
  <input type="submit">
  </form>
