<h1>Blog Setup</h1>

<form action="/setup" method="post" id="setup-form">
  <label>First Name</label>
  <input type="text" name="firstName">
  <label>Last Name</label>
  <input type="text" name="lastName">
  <label>Email</label>
  <input type="text" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <button type="submit" form="setup-form" class="btn btn-blue">Create Post</button>
</form>