<div class="row">
  <div class="grid-two-thirds float-center">
  <h1>Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <a href="/new">New Post</a>
  </div>
</div>
