<div class="row">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="grid-half">
    <a href="/new">New Post</a>
  </div>
  <div class="grid-half">
    <a href="/thing/new">New Thing</a>
  </div>
</div>
