<h1>New Post</h1>

<form action="/new" method="post" id="newpost">
  <label>Title</label>
  <input type="text" name="title">
  <label>Content</label>
  <textarea name="content" form="newpost"></textarea>
  <input type="submit">
</form>