<% layout('../internal_layout') %>


<h1>New Post</h1>

<form action="/new" method="post" id="newpost">
  <label>Title</label>
  <input type="text" name="title">
  <label>Content</label>
  <textarea name="content" form="newpost" id="content-editor">
  </textarea>
  <button type="submit" form="newpost" class="btn btn-blue">Create Post</button>
</form>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("content-editor") });
</script>