<div class="row">
  <div class="grid-two-thirds float-center">
    <a href="/"><==</a>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <h1><%= post.title %></h1>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <h3><%= post.date %></h3>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <%- post.content %>
  </div>
</div>