<div class="row">
  <div class="grid-two-thirds float-center">
    <h1>Page</h1>
  </div>
</div>


<% posts.forEach(function(post) { %>
  <div class="row">
    <div class="grid-two-thirds float-center">
      <li><a href="<%= '/' + post.slug %>"><%= post.title %></a> | <%= post.date %></li>
    </div>
  </div>
<% }); %>