<% layout('../layout') %>
<div class="row">
  <div class="grid-full">
    <h1>Bonjour!</h1>
  </div>
</div>


<div class="row">
  <div class="grid-full">
    <p>Hello. I'm Will Ricketts. I'm a software engineer from Atlanta, Georgia.</p>
  </div>
</div>
  
  <div class="row">
    <div class="grid-full">
      <h3>Writings</h3>
    </div>
  </div>
  
  <% posts.forEach(function(post) { %>
    <div class="row">
      <div class="grid-fourth">
        <a href="<%= post.slug %>"><%= post.title %></a>
      </div>
    </div>
  <% }); %>
      