<% layout('../layout') %>
<p>Hello. I'm Will Ricketts. I'm a software engineer from Atlanta, Georgia.</p>
  
  <h3>Writings</h3>
  
  <% posts.forEach(function(post) { %>
    <div class="row">
      <div class="grid-fourth">
        <a href="<%= post.slug %>"><%= post.title %></a>
      </div>
    </div>
  <% }); %>
      