<% layout('../layout') %>
<div class="row">
  <div class="grid-two-thirds float-center"> 
    <h1 class="title">Bonjour!</h1>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <p>Hello! I'm Will Ricketts. I'm a software engineer from Atlanta, Georgia. I specialize in <a href="http://nodejs.org">Node.js</a>, <a href="http://golang.org">Go</a>,
      <a href="http://bitcoin.org">Bitcoin</a> / <a href="https://en.wikipedia.org/wiki/Block_chain_(database)">Blockchain</a> development, and decentralized systems.
        I tweet from <a target="_blank" href="http://twitter.com/willricketts">@willricketts</a> and regularly push code to <a target="_blank" href="http://github.com/willricketts">Github</a>. I'm also an avid cyclist and rock climber, and I frequently post pictures of my adventures to <href="http://instagram.com/willricketts">Instagram</a>.</p>
      <h3 class="category">Connect</h3>
        <ul class="list-unstyled">
          <li><a href="https://keybase.io/willricketts/key.asc">PGP Key</a></li>
          <li><a href="https://twitter.com/willricketts">Twitter</h1>
          <li><a href="https://github.com/willricketts">Github</a></li>
          <li><a href="https://angel.co/willricketts">AngelList</a></li>
          <li><a href="https://linkedin.com/in/wricketts">LinkedIn</a></li>
          
        </ul>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <h3 class="category">Projects</h3>
    <ul class="list-unstyled">
      <li><a target="_blank" href="https://github.com/willricketts/WayneShorter">WayneShorter</a></li>
      <li><a target="_blank" href="https://github.com/willricketts/keychatter">Keychatter</a></li>
      <li><a target="_blank" href="https://github.com/AssPennyFoundation/AssPennies" >AssPennies Cryptocurrency</a></li>
      <li><a target="_blank" href="https://github.com/willricketts/archer">Archer</a></li>
      <li><a target="_blank" href="http://github.com/procur">Procur</a></li>
      <li><a target="_blank" href="https://github.com/willricketts/SlimPickins">SlimPickins</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="grid-two-thirds float-center">
    <h3 class="category">Writings</h3>
    <ul class="list-unstyled">
      <li><a href="https://medium.com/@willricketts/a-cascadian-odyssey-ebae16d99663#.n8w40gi4e">A Cascadian Odyssey</a></li>
    </ul>
  </div>
</div>

<% posts.forEach(function(post) { %>
  <div class="row">
    <div class="grid-two-thirds float-center">
      <a href="<%= post.slug %>"><%= post.title %></a><br />
      <h5 class="articleDate"><%= post.date %></h5>
    </div>
  </div>
<% }); %>

      